/**
 * Layout helpers.
 */

// Stretch an element vertically based on available space
.reveal .stretch,
.reveal .r-stretch {
    max-width: none;
    max-height: none;
}

.reveal pre.stretch code,
.reveal pre.r-stretch code {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

// Text that auto-fits it's container
.reveal .r-fit-text {
    display: inline-block; // https://github.com/rikschennink/fitty#performance
    white-space: nowrap;
}

// Stack multiple elements on top of each other
.reveal .r-stack {
    display: grid;
}

.reveal .r-stack > * {
    grid-area: 1/1;
    margin: auto;
}

// Horizontal and vertical stacks
.reveal .r-vstack,
.reveal .r-hstack {
    display: flex;

    img,
    video {
        min-width: 0;
        min-height: 0;
        object-fit: contain;
    }
}

.reveal .r-vstack {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reveal .r-hstack {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// Naming based on tailwindcss
.reveal .items-stretch {
    align-items: stretch;
}
.reveal .items-start {
    align-items: flex-start;
}
.reveal .items-center {
    align-items: center;
}
.reveal .items-end {
    align-items: flex-end;
}

.reveal .justify-between {
    justify-content: space-between;
}
.reveal .justify-around {
    justify-content: space-around;
}
.reveal .justify-start {
    justify-content: flex-start;
}
.reveal .justify-center {
    justify-content: center;
}
.reveal .justify-end {
    justify-content: flex-end;
}

:root {
    --sv-orange: #f57f31;
    --sv-grey: #475c69;
}

header {
    background-color: #eee;
    min-height: 80px;
    overflow: hidden;
    padding: 1.4rem;
    position: absolute;
    top: 0;
    min-width: 98vw;
    display: grid;
    z-index: 103;
    grid-template-areas: 'logo event-title' 'logo event-date';
    svg.logo {
        grid-area: logo;
        max-width: 150px;
    }
    h2.event-title {
        grid-area: event-title;
        font-size: 24px;
        text-align: right;
        color: var(--sv-orange);
        margin: 0;
    }
    h3.event-date {
        grid-area: event-date;
        font-size: 20px;
        text-align: right;
        color: var(--sv-gray);
        opacity: 0.5;
        margin: 0;
    }
}

svg.jamstacklogo {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 1000;
}

.reveal .slides .two-up {
    display: flex;
    width: 100%;
    align-items: center;
    > * {
        margin-top: 0;
    }
}
